@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');
:root{
    --theme: chocolate;
    --link-hover: blue;
    --image-link: url("../images/sesame-chicken.jpg");
}
.card{
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.397);
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.692);
}
img{
    width : 90%;
    height: auto;
    margin: 0px;
}
figure{
    text-align: center;
    margin: 30px;
}
figcaption{
    font-size: 150%;
    font-family: cursive;
}
header{
    font-size: 200%;
    font-family: 'The Nautigal', cursive, sans-serif;
    text-align: center;
    color: var(--theme);
}
nav{
    background-color: var(--theme);
    padding: 6px;
    position: fixed;
    top: 0;
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: var(--link-hover);
}
body{
    background-color: rgba(210, 105, 30, 0.5);
}
h1{
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
