@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');
:root{
    --theme: chocolate;
    --link-hover: blue;
}
img{
    width : 90%;
    height: auto;
    margin: 0px;
}
figure{
    text-align: center;
    margin: 30px;
}
figcaption{
    font-size: 150%;
    font-family: cursive;
}
header{
    font-size: 200%;
    font-family: 'The Nautigal', cursive, sans-serif;
    text-align: center;
    color: var(--theme);
}
nav{
    background-color: var(--theme);
    padding: 6px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: var(--link-hover);
}
